[submodule "somewhere"]
	path = somewhere
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zsh/plugins/zsh-system-clipboard"]
	path = .zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule "DanWlker/nvim.git"]
	path = .config/nvim
	url = https://github.com/DanWlker/nvim.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
