@import "mocha.css";

* {
  font-family: MapleMono NF;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

/* #workspaces button.active { */
/*   color: @pink; */
/*   border-radius: 1rem; */
/* } */

#workspaces button.active {
  background: @pink;
  color: @base;
  border-radius: 1rem;
}

#workspaces button:hover {
  background: @mantle;
  color: @text;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#bluetooth,
#network,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 1rem;
  margin-left: 1rem;
}

#clock.time {
  color: @blue;
}

#clock.day {
  color: @green;
}

#battery {
  color: @sky;
  border-radius: 0px 1rem 1rem 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#bluetooth {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#network {
  border-radius: 0px 1rem 1rem 0px;
}

#custom-lock {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}
